*, *::before, *::after {
  box-sizing: border-box;
}

body {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    /* background-color: #eff5f8; */
    color: #001b44;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  .jumbotron {
    width:100%;
    background: rgb(151,238,200);
    background: linear-gradient(0deg, rgba(151,238,200,1) 0%, rgba(255,255,255,1) 100%);
    text-align: center;
    padding: 10px;
  }

  main {
    display: inline-flex;
    width: 100%;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    flex-wrap: wrap;
    justify-content: space-around;
    
    }

    .start-button {
        font-size: 16px;
        height: 30px;
        line-height: 8px;
        margin-top: 20px;
        border-radius: 15px;
        margin-bottom: 15px;
        background: orange;
      }

  .win-loss-container {
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 16px;
  }
  .reset-button {
    font-size: 16px;
    height: 30px;
    line-height: 8px;
    margin-top: 20px;
    border-radius: 15px;
    margin-bottom: 15px;
  }

  .container {
    width: 800px;
    max-width: 80%;
    background-color: chartreuse;
    border-radius: 10px;
    padding: 15px;
    align-items: center;
    box-shadow: 0 0 10px;
  }

  .btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin: 20px 0;
    gap: 20px;
  }

  .btn {
    background-color: turquoise;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 2px;
    padding: 10px;
  }

  .btn:hover {
    border-color: white;
  }

  .btn.correct {
    background-color: limegreen;
  }

  .btn.wrong {
background-color: magenta;
  }

  .start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
  }

  .hide {
    display: none;
  }

  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .question-container {
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
      flex-direction: column;
    margin: 16px;   
    padding: 15px;
    flex-basis: 30rem;
    background: yellow;
    }